<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="mastfoot container-fluid white-bg">
  <div class="row">
    <article class="credits col-md-6">
      <p class="font4 dark">Copyright &copy; 2016 <a href="#">Jacob Penn</a>.<br/>Check Ma Soundcloud Bruh.</p>
    </article>
    <ul class="foot-social col-md-6 text-right">
      <li><a href="#"><img alt="" title="" src="images/social/01.svg"/></a></li>
      <li><a href="#"><img alt="" title="" src="images/social/02.svg"/></a></li>
      <li><a href="#"><img alt="" title="" src="images/social/03.svg"/></a></li>
      <li><a href="#"><img alt="" title="" src="images/social/04.svg"/></a></li>
    </ul>
  </div>
</footer>


<!--featured works panel :starts -->
<section class="featured-panel cd-panel from-right">
  <div class="cd-panel-header white-bg">
    <h1 class="featured-projects-heading font3 dark">Featured Projects</h1>
    <a href="#0" class="cd-panel-close white">x</a>
  </div> <!-- cd-panel-header -->

  <div class="cd-panel-container">
    <div class="cd-panel-content">

      <!-- featured-item -->
      <div class="featured-item-block">
        <img alt="" title="" class="img-responsive" src="images/featured/01.jpg"/>
        <a  href="project01.html">
          <div class="featured-panel-item-overlay">
            <div class="valign">
              <h3 class="font2 white"><span>Project Title</span></h3>
            </div>
          </div>
        </a>
      </div>

      <!-- featured-item -->
      <div class="featured-item-block">
        <img alt="" title="" class="img-responsive" src="images/featured/02.jpg"/>
        <a  href="project02.html">
          <div class="featured-panel-item-overlay">
            <div class="valign">
              <h3 class="font2 white"><span>Project Title</span></h3>
            </div>
          </div>
        </a>
      </div>

      <!-- featured-item -->
      <div class="featured-item-block">
        <img alt="" title="" class="img-responsive" src="images/featured/03.jpg"/>
        <a  href="project01.html">
          <div class="featured-panel-item-overlay">
            <div class="valign">
              <h3 class="font2 white"><span>Project Title</span></h3>
            </div>
          </div>
        </a>
      </div>

    </div> <!-- cd-panel-content -->
  </div> <!-- cd-panel-container -->
</section>
<!-- featured works panel :ends -->


<!--share panel :starts -->
<section class="share-panel white-bg fullheight">
  <a href="#0" class="share-panel-close white">x</a>
  <div class="share-panel-heading font3 dark">social share</div>
  <div class="valign">
    <ul>
      <li><a href="#"><span class="ion-social-twitter dark"></span></a></li>
      <li><a href="#"><span class="ion-social-facebook dark"></span></a></li>
      <li><a href="#"><span class="ion-social-pinterest dark"></span></a></li>
    </ul>
  </div>
</section>
<!-- share panel :ends -->




<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script src="javascripts/libs/common.js"></script>
<script src="javascripts/libs/bootstrap.min.js"></script>
<script src="javascripts/custom/main.js"></script>
