<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="mastfoot container-fluid white-bg">
  <div class="row">
    <article class="credits col-md-6">
      <p class="font4 dark">Copyright &copy; 2019 <br /> <a href="#">Jacob Penn</a>.</p>
    </article>
    <ul class="foot-social col-md-6 text-right">		
      <li><a target="blank" href="https://www.facebook.com/MumukshuMusic/"><span class="ion-social-facebook dark"></span></a></li>
      <li><a target="blank" href="https://www.instagram.com/jake.mumu/"><span class="ion-social-instagram dark"></span></a></li>
      <li><a target="blank" href="https://twitter.com/MumukshuAudio"><span class="ion-social-twitter dark"></span></a></li>
      <li><a target="blank" href="https://www.linkedin.com/in/jacob-penn-226704ab"><span class="ion-social-linkedin dark"></span></a></li>
	 
	  
    </ul>
  </div>
</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script src="javascripts/libs/common.js"></script>
<script src="javascripts/libs/bootstrap.min.js"></script>
<script src="javascripts/custom/main.js"></script>
