<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="mastfoot container-fluid white-bg">
  <div class="row">
    <article class="credits col-md-6">
      <p class="font4 dark">Copyright &copy; 2017 <br /> <a href="#">Jacob Penn</a>.</p>
    </article>
    <ul class="foot-social col-md-6 text-right">
      <li><a target="blank" href="https://twitter.com/jakemumu"><img alt="" title="" src="images/social/01.svg"/></a></li>
      <!-- <li><a href="#"><img alt="" title="" src="images/social/02.svg"/></a></li> -->
      <li><a target="blank" href="https://www.facebook.com/MumukshuMusic/"><img alt="" title="" src="images/social/03.svg"/></a></li>
      <!-- <li><a href="#"><img alt="" title="" src="images/social/04.svg"/></a></li> -->
    </ul>
  </div>
</footer>


<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script src="javascripts/libs/common.js"></script>
<script src="javascripts/libs/bootstrap.min.js"></script>
<script src="javascripts/custom/main.js"></script>
