<!-- Preloader
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="preloader">
  <div id="status"></div>
</div>


<!-- mobile only navigation : starts -->
<nav class="mobile-nav">
  <ul class="slimmenu">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="about">About</a>
    </li>
    <li>
      <a href="works">Work</a>
    </li>
    <li>
      <a href="#">Resume</a>
    </li>
    <li>
      <a href="contact">Contact</a>
    </li>
  </ul>
</nav>
<!-- mobile only navigation : ends -->



<a class="onscreen-trigger" href="#"><img alt="" title="" src="images/next.svg"/></a>

<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="masthead white-bg fullheight">
  <div class="valign">
    <div class="inner">
      <a  href="/"><img alt="" title="" class="logo derp" src="images/logo.png"/></a>
      <br/>
      <!-- <p class="font4 dark text-center" style="font-size: 18px;">Jacob Penn</p> -->
      <nav class="mastnav font2 text-center">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="works">Work</a></li>
          <li><a href="index">Resume</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section class="sticky-sidebar white-bg fullheight text-center">
  <div class="valign">
    <ul>
      <li><a href="#" class="works-filter-trigger"><span class="ion-ios-glasses-outline dark"></span></a></li>
      <li><a href="#0" class="share-panel-trigger show"><span class="ion-ios-redo-outline dark"></span></a></li>
      <li><a target="blank" href="https://github.com/jakemumu"><span class="ion-social-github-outline dark"></span></a></li>
    </ul>
  </div>
</section>

<!-- dummy overlay for whole page when sidebar is active -->
<section class="featured-mask-overlay"></section>
