<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <section class="mastwrap-outer cd-main-content">

    <!-- MASTER CONTENT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="ajax-content" class="mastwrap spaced-left">

      {% include header.html %}


          {{ content }}

          {% include research_post_navigation.html %}

      {% include footer.html %}

    </section>
    <!-- end : mastwrap -->

  </section>
  <!-- mastwrap-outer ends -->

</body>

</html>
